#projects {
    text-align: center;
    height: auto;
}

#projects h3 {
    font-family: 'Crimson Text', serif;
}

.projects__container {
    display: grid;
    place-items: center;
}

.featured__project-item {
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.featured__project-group {
    color: var(--color-primary);
    text-align: left;
    padding: 1rem 2rem 2rem 2rem;
    transition: all 0.4s ease-in-out;
}

.featured__project-group h4 {
    font-size: 1.3rem;
}

.featured__project-card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: stretch;
  background: var(--light-navy);
  border-radius: 2rem;
  overflow: hidden;
  transition: transform 0.4s ease-in-out;
  max-width: 100%;
}

.featured__project-card:hover {
  transform: translateY(-6px);
}

.featured__project-img {
  overflow: hidden;
  padding: 1rem;
}

.featured__project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
  display: block;
  transition: transform 0.4s ease;
}

.featured__project-img img:hover {
    transform: scale(1.02);
}

.featured__project-content {
    padding: 15px 25px;
    text-align: justify;
    height: auto;
    font-size: 0.95rem;
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featured__project-header a span{
    transition: all 0.3s ease;
    font-family: 'Crimson Text', serif;
    font-size: 1.7rem;
    text-align: left;
    color: blanchedalmond;
    margin-right: 1rem;
}

.featured__project-header a .icon {
    color: var(--color-primary);
}

.featured__project-card:hover .featured__project-header a .icon {
    color: blanchedalmond;
}

.featured__project-card:hover .featured__project-header-title{
    color: var(--color-primary);
}

.project__content-points {
  margin: 1rem 0;
  padding-left: 1.2rem;
  font-size: 0.95rem;
  color: var(--slate);
}

.featured__project-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.featured__project-footer span {
  background: rgba(0, 0, 0, 0.2);
  padding: 0.3rem 1.2rem;
  border-radius: 999px;
  font-size: 0.85rem;
  color: var(--white);
  transition: background 0.3s ease;
}

.featured__project-card:hover .featured__project-footer span {
  background: var(--dark-navy);
}

/* =========== Other Projects ================*/

.other__projects {
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    width: 90%;
}

.project__item {
    background: var(--light-navy);
    padding: 1.8rem 1.5rem 1.5rem 2rem;
    text-align: justify;
    border-radius: 0.5rem;
    transition: all 0.4s ease-in-out;
}

.project__item h3 {
    font-size: 1.7rem;
    color: blanchedalmond;
    transition: all 0.4s ease-in-out;
}

.project__item:hover {
    transform: translateY(-0.6rem);
}

.project-header {
    text-align: left;
}

.project__item:hover .project-header {
    color: var(--color-primary);
}

.project-content {
    padding: 10px 10px 10px 20px;
    font-size: 0.95rem;
}

.project-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.project-footer span {
    background: rgba(0, 0, 0, 0.2);
    padding: 0.3rem 1.2rem;
    border-radius: 999px;
    font-size: 0.85rem;
    color: var(--white);
    transition: all 0.3s ease;
}

.project__item:hover span {
    background: var(--dark-navy);
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES like Tablets) ============== */
@media screen and (max-width: 1024px) {
    #projects {
      height: auto;
    }

    .featured__project {
        display: grid;
        place-items: center;
    }

    .featured__project-item {
        width: 90%;
    }

    .featured__project-details {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        gap: 10px;
        padding-top: 10px;
    }

    .featured__project-content {
        grid-row: 2;
        border-radius: 1rem;
    }

    .featured__project-img {
        grid-row: 1;
    }

    .other__projects {
        width: 100%;
        grid-template-columns: auto;

    }
}

/* =============== MEDIA QUERIES (SMALL DEVICES like Phones) ============== */
@media screen and (max-width: 600px) {
    #projects {
      height: auto;
    }

    .featured__project-item {
        width: 100%;
    }

    .featured__project-content {
        font-size: 0.9rem;
        padding: 15px 15px 15px 20px;
    }

    .featured__project-footer {
        font-size: 0.85rem;
        justify-items: center;
    }

    .project__item {
        padding: 1.5rem 1rem 1.5rem 1rem;
    }

    .project-content {
        font-size: 0.9rem;
        padding: 10px 0px 10px 5px;
    }

    .project-footer {
        font-size: 0.85rem;
    }
}