#about {
    width: 100vw;
    padding-top: 6rem;
    height: auto;
    position: relative;
    overflow: visible;
}

.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
    padding: 4rem;
    align-items: center;
    width: 80%;
    height: fit-content;
    overflow: scroll;
    border-radius: 2rem;
    background: rgba(10, 10, 10, 0.4);
    box-shadow: -4px 4px 10px 2px rgba(55, 55, 55, 0.5), 4px 4px 10px 2px rgba(55, 55, 55, 0.5);
}

.about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    display: grid;
    place-items: center;
}

.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(0deg);
    transition: all 0.4s ease-in-out;
}

.about__me-image:hover {
    transform: rotate(10deg);
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.about__card {
    background: var(--dark-navy);
    border: 2px solid var(--navy);
    border-radius: 1rem;
    padding: 1.1rem 1rem;
    text-align: center;
    transition: all 0.5s ease;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about__icon {
    color: var(--color-primary);
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
}
.card__title {
    font-family: 'Crimson Text', serif;
    color: var(--color-primary);
    font-size: 1.5rem;
    width: fit-content;
    margin: 0 auto 0.5rem auto;
    display: block;
    text-align: center;
    position: relative;
}

.card__title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0%;
    background-color: var(--color-primary);
    transition: width 0.4s ease;
}

.about__card:hover  .card__title::after {
  width: 100%;
}

.about__card small {
    font-size: 0.9rem;
    color: var(--color-light);
    /* font-family: 'Crimson Text', serif; */
}

.about__paragraph {
    color: var(--slate);
    text-align: justify;
    font-size: 0.95rem;
    padding-top: 2.5rem;
}

.about__paragraph span {
    color: var(--color-primary);

}

/* =============== MEDIA QUERIES (MEDIUM DEVICES like Tablets) ============== */
@media screen and (max-width: 1024px) {
    #about {
        height: auto;
    }
    
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me {
        width: 50%;
        margin: 0rem auto 4rem;
    }

    .about__paragraph {
        margin: 1rem 0 1rem;
    }
}

/* =============== MEDIA QUERIES (SMALL DEVICES like Phones) ============== */
@media screen and (max-width: 600px) {
    .about__me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__content {
        text-align: center;
    }

    .about__paragraph {
        margin: 1.5rem 0;
        font-size: 0.9rem;
    }
}