.preloader {
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, var(--black), var(--dark-grey), var(--black));
    background-size: 400% 400%, cover;
    animation: gradientMove 5s ease infinite;
    color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 55;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.preloader__container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content max-content;
    place-items: center;
    justify-content: center;
    align-items: center;
}

.preloader__img {
    width: 10%;
    aspect-ratio: 1/1;
    padding-bottom: 4rem;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.preloader__text {
    font-family: 'Crimson Text', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    font-size: 7vh;
    overflow: hidden;
    color: var(--white);
    padding-top: 10rem;
}

.preloader__text span {
    margin: 15px;
}

/* =============== MEDIA QUERIES (SMALL DEVICES like Phones) ============== */
@media screen and (max-width: 600px) {
    .preloader__text {
        font-size: 50px;
    }
}