#experience {
  text-align: center;
  height: auto;
}

.experience__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 75%;
  padding: 2rem;
}

.experience-card {
  display: grid;
  grid-template-columns: 1fr 2fr 4fr;
  gap: 2rem;
  padding: 2rem;
  background: transparent;
  border-radius: 2rem;
  box-shadow: 0 4px 20px rgba(150, 150, 150, 0.4);
  background: rgba(20, 20, 20, 0.7);
  color: var(--slate);
  margin-bottom: 2rem;
  --revealY: 50px;
  --hoverY: 0px;
  opacity: 0;
  transform: translateY(var(--revealY)) translateY(var(--hoverY));
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, background 0.3s ease;
  will-change: opacity, transform;
}


.experience-card.in-view {
  opacity: 1;
  --revealY: 0px;
}

.experience-card:hover {
  background: var(--dark-navy);
  --hoverY: -8px;
}

.experience-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-logo {
  width: 60%;
  aspect-ratio: 1;
  object-fit: contain;
  border-radius: 2rem;
  padding: 1rem;
  border: 2px solid var(--slate);
  transition: all 0.3s ease-in-out;
}

.experience-card:hover .company-logo {
  padding: 0.5rem;
}

.meta-column .experience-meta {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  /* align-items: center; */
  padding: 2rem;
}

.job-title {
  font-size: 1.6rem;
  font-family: 'Crimson Text', serif;
  margin-bottom: 0.5rem;
  color: var(--color-primary);
  position: relative;
}

.job-title::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: var(--color-primary);
  transition: width 0.4s ease;
}

.experience-card:hover .job-title::after {
  width: 100%;
}

.experience-meta h4 {
  margin: 0;
  font-weight: 500;
  font-size: 1.1rem;
  color: blanchedalmond;
}

.period {
  color: var(--slate);
  font-size: 1rem;
}

.description-column ul {
  list-style-type: disc;
  padding-left: 1.2rem;
  margin: 0;
}

.description-column li {
  margin-bottom: 0.75rem;
  line-height: 1.6;
  text-align: justify;
}

.highlight {
  font-weight: normal;
  color: var(--color-primary);
}

/* =============== MEDIA QUERIES (SMALL DEVICES like Phones) ============== */

@media (max-width: 768px) {
  .experience-card {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .experience-left,
  .experience-right {
    width: 100%;
  }

  .experience-left {
    margin-bottom: 1rem;
  }

  .experience-right ul {
    padding-left: 0;
  }

  .experience-right li {
    text-align: left;
  }
}